<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link  href = "/css/login.css" rel = "styLesheet">
	<script src = "/js/login.js" type = "text/javascript"  ></script>
	<title>Авторизация</title>
</head>
<body>

<div>
    <section class = "header_wrap">
        <header class = "header">
            <a href = "#">
                <img src = "/img/logo.png" id = "logo" class = "logo" alt="">
            </a>
            <ul class = "menu">
                <li><a href = "#"> Главная </a></li>
                <li><a href = "#"> Помощь </a></li>
                <li><a href = "#" class="account">Аккаунт</a></li>
            </ul>
        </header>
    </section>
</div>

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="post" action="/auth">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name = "login" id = "login" class="login__input" placeholder="Login">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name = "password" id = "password" class="login__input" placeholder="Password">
				</div>
				<button type = "submit" class="button login__submit" onclick="submitForm()">
					<span type = "submit" class="button__text" >Войти</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				<p class="message">Not registered?<a href="/templates/auth/registration.html">    Create an account</a></p>
			</form>
			<div class="social-login">
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

</body>
</html>