<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href = "@{/css/login.css}" href = "../../static/css/login.css" rel = "styLesheet">
	<title>Auth</title>
</head>
<body>

<div>
    <section class = "header_wrap">
        <header class = "header">
            <a href = "#">
                <img th:src = "@{/img/logo.png}" src = "../../static/img/logo.png" id = "logo" class = "logo" alt="">
            </a>
            <ul class = "menu">
                <li><a href = "#"> Главная </a></li>
                <li><a href = "#"> Помощь </a></li>
                <li><a href = "#" class="account">Аккаунт</a></li>
            </ul>
        </header>
    </section>
</div>

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" th:method="POST" th:action="@{/process_login}">
				<input type="hidden" th:name = "${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name = "username" class="login__input" placeholder="Login">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name = "password" class="login__input" placeholder="Password">
				</div>
				<div th:if ="${param.error}" style ="color: red">
					Неправильный имя или пароль
				</div>
				<button type = "submit" class="button login__submit">
					<span type = "submit" class="button__text">Войти</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				<p class="message">Not registered?<a href="/templates/auth/registration.html" th:href = "@{/auth/registration}">    Create an account</a></p>
			</form>
			<div class="social-login">
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

</body>
</html>