<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href = "@{/css/registration.css}" href = "../../static/css/registration.css" rel = "styLesheet">
	<title>Auth</title>
</head>
<body>

<div>
    <section class = "header_wrap">
        <header class = "header">
            <a href = "#">
                <img th:src = "@{/img/logo.png}" src = "../../static/img/logo.png" id = "logo" class = "logo" alt="">
            </a>
            <ul class = "menu">
                <li><a href = "#"> Главная </a></li>
                <li><a href = "#"> Помощь </a></li>
                <li><img th:src = "@{/img/account.png}" src = "../../static/img/account.png" alt=""><a href = "#" class="account">Аккаунт</a></li>
            </ul>
        </header>
    </section>
</div>

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
				<button href = "/templates/auth/login.html" id = "firstbut" class="button login__submit2">
					<span class="button__text">Войти</span>
				</button>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" th:field="*{login}" name = "username" class="login__input" placeholder="Login">
					<div th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red">Пользователь с таким логином уже существует</div>
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" th:field="*{NSP}" name = "fio" class="login__input" placeholder="ФИО">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input  name = "email" th:field="*{email}" class="login__input" placeholder="Email">
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" th:field="*{password}" name = "password" class="login__input" placeholder="Password">
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">Пароль должен быть восьмизначным</div>
				</div>
				<button class="button login__submit">
					<span class="button__text">Зарегистрироваться</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
			<div class="social-login">
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

</body>
</html>