<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href = "@{/css/buy.css}" href = "../../static/css/buy.css" rel = "styLesheet">

<title>Покупка билета</title>
</head>
<body>

<div>
    <section class = "header_wrap">
        <header class = "header">
            <a href = "#">
                <img th:src = "@{/img/logo.png}" src = "../../static/img/logo.png" id = "logo" class = "logo" alt="">
            </a>
            <ul class = "menu">
                <li><a th:href = "@{/mainpage}"> Главная </a></li>
                <li><a href = "#"> Помощь </a></li>
                <li><a href = "#" class="account">Аккаунт</a></li>
            </ul>
        </header>
    </section>
</div>
<div class="emp-profile">
            <form th:method="POST" th:object="${ticket}" th:action="@{/mainpage/buy_ticket}">
                <input type="hidden" th:name = "${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="header_container">
                    <div >
                        <div class="profile-head">
                            <p th:field="*{owner}" th:text="*{owner.getNSP()}">
                                Покупатель
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Купить билет"/>
                    </div>
                </div>
                <input type="hidden" th:field="*{id}">

                <div>
                    <div>
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class = "box">
                                            <div class = "field-label">
                                                <label>Место вылета</label>
                                            </div>
                                            <div class = "field">
                                                <p th:field="*{arrivalCity}" th:text = "*{arrivalCity}">Место вылета</p>
                                            </div>
                                        </div>
                                        <div class = "box" >
                                            <div class = "field-label">
                                                <label>Место прибытия</label>
                                            </div>
                                            <div class = "field">
                                                <p th:field="*{sendingCity}" th:text = "*{sendingCity}">Место вылета</p>
                                            </div>
                                        </div>
                                        <div class = "box">
                                            <div class = "field-label">
                                                <label>Дата вылета</label>
                                            </div>
                                            <div class = "field">
                                                <p th:field="*{arrivalDate}" th:text = "*{arrivalDate}">Дата вылета</p>
                                            </div>
                                        </div>
                                        <div class = "box">
                                            <div class = "field-label">
                                                <label>Дата возвращения</label>
                                            </div>
                                            <div class = "field">
                                                <p th:field="*{sendingDate}" th:text = "*{sendingDate}">Дата возвращения</p>
                                            </div>
                                        </div>
                                        <div class = "box">
                                            <div class = "field-label">
                                                <label>Количество пассажиров</label>
                                            </div>
                                            <div class = "field">
                                                <p th:field="*{countpeople}" th:text ="*{countpeople}">Количество пассажиров</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_container_down">
                        <div>
                            <p th:field="*{price}" th:text = "*{price}" placeholder="сумма" class = "login__input">сумма</p>
                        </div>
                </div>
            </form>
        </div>

</body>
</html>