*{
    padding:0; margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 5px 15px;
    box-sizing: border-box;
    max-width: 2600px;
    margin: 0 auto;
    background-color: #6582aa;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    position:relative;
}

.box{
    background: #000000;
    border-radius: 2px;
}

.menu{
    display: flex;
    list-style: none;
    max-width: 2600px;
    align-items: center;
}

.menu li{
    margin-left: 50px;
    padding-right: 20px;
}

.menu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
}

.menu li a:hover{
    color: #df734c;
    cursor: pointer;
}

.buying_tickets_wrap{
    background: url('../img/background.jpg') center center no-repeat;
    background-size: cover;
    max-height: 670px;
    display: flex;
    flex-direction: column;
    min-width: 100%; min-height: 100%;
    position: fixed;

}


.main_div{
    color: #262c3d;
    text-align: center;
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.first_slogan{
    font-weight: 900; font-size: 3rem; line-height: 6rem; margin-bottom: 20px;
}
.second_slogan{
    font-weight: 900; font-size: 1.5rem; line-height: 2rem; margin-bottom: 20px;
}


.ticket_selection{
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
    max-width: 1240px;
    position: relative;
    width: 100%;
}

.buying_tickects {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
    border-radius: 5px;
}

.text-form-group{
    color: white;
}

.label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-sending{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2px;
}


.sending{
    display: flex;
    margin: 2px;
}

.main_window_buying_tickets{
    max-width: 300px;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 5px;
}

.popup {
    margin: 10px;
    width: 70px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    display: flex;
    right: 0;
}

.popup button {
    margin-top: 10px;
}

.profile-text{
    color: rgb(0, 0, 0);
    font-weight: 300;

    &:hover{
        color: #e60f0f;
        cursor: pointer;
    }
}

.btn-exit{
    display: block;
    width: 100%;
    padding: 1px;
    font-size: 15px;
    background-color: white;
    border-color: white;
    border: none;

    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
}