<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href = "@{/css/index.css}" href = "/static/css/index.css" rel = "styLesheet">
    <title>Главная страница</title>
</head>

<body>

<div id = "wrap">

    <section class = "header_wrap">
        <header class = "header">
            <a href = "#">
                <img th:src = "@{/img/logo.png}" src = "../static/img/logo.png" id = "logo" class = "logo" alt="">
            </a>
            <ul class = "menu">
                <li><a href = "#"> Главная </a></li>
                <li><a href = "#"> Помощь </a></li>
                <li><a class="account" id="openModal">Аккаунт</a></li>
            </ul>
        </header>
    </section>

    <section class = "buying_tickets_wrap">
        <div class = "main_div">

            <div id="modal" class="popup" style="display: none;">
                <a class = "profile-text" th:href = "@{/profile}">Профиль</a>
                <form name="logoutForm" th:action="@{/logout}" method="post">
                    <input class = "btn btn-exit "type="submit" value="Выйти"/>
                </form>
            </div>

            <h1 class = "first_slogan">Летай куда угодно и с кем угодно</h1>
            <h2 class = "second_slogan">Скорей купи билеты и лети вместе с нами</h2>

            <div class = "main_window_buying_tickets">
                <div class = "sending">
                    <button id = "firstbut" type="button" class="btn btn-sending" onclick="showOneWayForm()">Туда</button>
                    <button id = "secondbut" type="button" class="btn btn-sending" onclick="showRoundTripForm()">Туда и обратно</button>
                </div>

                <div class="buying_tickects">
                    <form id="one-way-form" th:method="GET" th:object="${ticket}" th:action="@{/mainpage/buy_ticket}">
                        <input type="hidden" th:name = "${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" th:field="*{owner}">
                        <input type="hidden" th:field="*{price}">
                        <div class="form-group">
                            <div class = "box">
                                <label for="first-list" class = "text-form-group">Место вылета</label>
                            </div>
                            <select th:field="*{sendingCity}" id="first-list" class="form-control">
                                <option th:each="cityy : ${cities}" th:value="${cityy.getId()}" th:text="${cityy.toString()}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class = "box">
                                <label for="second-list" class = "text-form-group">Место прибытия</label>
                            </div>
                            <select th:field="*{arrivalCity}" id="second-list" class="form-control">
                                <option th:each="cityy : ${cities}" th:value="${cityy.getId()}" th:text="${cityy.toString()}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                        <div class = "box">
                            <label for="departure-date" class = "text-form-group">Дата отправки</label>
                        </div>
                            <input type="date" th:field="*{sendingDate}" class="form-control" id="departure-date" name="departure-date" required>
                            <div th:if="${#fields.hasErrors('sendingDate')}" th:errors="*{sendingDate}" style="color: red">Error password</div>
                        </div>
                        <div class="form-group">
                            <div class = "box">
                                <label for="passenger-count" class = "text-form-group">Количество людей</label>
                            </div>
                            <input th:field="*{countpeople}" type="number" class="form-control" id="passenger-count" name="passenger-count" required>
                            <div th:if="${#fields.hasErrors('countpeople')}" th:errors="*{countpeople}" style="color: red">Error password</div>
                        </div>

                        <button type="submit" class="btn btn-primary" value="Отправить">Отправить</button>
                    </form>

                    <form id="round-trip-form" style="display: none;" th:method="GET" th:object="${ticket}" th:action="@{/mainpage/buy_ticket}">
                        <input type="hidden" th:name = "${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="form-group">
                            <div class = "box">
                                <label for="first-list-swap" class = "text-form-group">Место вылета</label>
                            </div>
                            <select th:field="*{sendingCity}" id="first-list-swap" class="form-control">
                                <option th:each="cityy : ${cities}" th:value="${cityy.getId()}" th:text="${cityy.toString()}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class = "box">
                                <label for="second-list-swap" class = "text-form-group">Место прибытия</label>
                            </div>
                                <select th:field="*{arrivalCity}" id="second-list-swap" class="form-control">
                                <option th:each="cityy : ${cities}" th:value="${cityy.getId()}" th:text="${cityy.toString()}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class = "box">
                                <label for="departure-date-two" class = "text-form-group">Дата отправки</label>
                            </div>
                                <input type="date" th:field="*{sendingDate}" class="form-control" id="departure-date-two" name="departure-date" required>
                            <div th:if="${#fields.hasErrors('sendingDate')}" th:errors="*{sendingDate}" style="color: red">Error password</div>
                        </div>
                        <div class="form-group">
                            <div class = "box">
                                <label for="return-date" class = "text-form-group">Дата вылета обратно</label>
                            </div>
                            <input type="date" th:field="*{arrivalDate}" class="form-control" id="return-date" name="return-date" required>
                            <div th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}" style="color: red">Error password</div>
                        </div>
                        <div class="form-group">
                            <div class = "box">
                                <label for="passenger-count" class = "text-form-group">Количество людей</label>
                            </div>
                                <input th:field="*{countpeople}" type="number" class="form-control" id="passenger-count" name="passenger-count" required>
                                <div th:if="${#fields.hasErrors('countpeople')}" th:errors="*{countpeople}" style="color: red">Error password</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
        <a class="login-trigger" href="#" data-target="#login" data-toggle="modal">Login</a>
    </section>

</div>

<script type = "text/javascript" th:src = "@{/js/index.js}" src = "../static/js/index.js"></script>

</body>
</html>